body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Segoe UI';
    margin: 5em;
    padding: 5em;
    border-radius: 2em;
    border: .5em solid black;
}

button{
    /* padding: .5em; */
    border-radius: 50vh;
    background-color: black;
    color: gainsboro;
    font-size: larger;
}

h1{
    color: grey;
}

.container2{
    margin: 0;
    padding: 0;
    text-align: center;
    font: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: large;
}
