body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Segoe UI';
    margin: 10em;
    padding: 5em;
    border-radius: 2em;
    border: .5em solid black;
}

button{
    /* padding: .5em; */
    border-radius: 50vh;
    background-color: black;
    color: gainsboro;
    font-size: larger;
}

body{
    margin: 0%;
    padding: 0%;
    }

.container2{ 
    background-color: burlywood;
    margin: 15em;
    padding: 10em;
    border-radius: 3em;
    border: 0.5em solid black;
} 


